#fromList {
  max-height: 200px; /* Adjust height as needed */
  overflow-y: auto;
}

#toList {
  max-height: 200px; /* Adjust height as needed */
  overflow-y: auto;
}

#input {
  background-color: white;
}
